  <link rel="stylesheet" href="./stylesheets/style1.css">

  

  <div class="quizContainer container-fluid well well-lg">
      <div id="quiz1" class="text-center">
			  <h3 style="color:#d14040;position:center;left:80%;top:0%;" align="Center" ><span id="Modern History Of India Quiz part 01 for all Exams">Students India Quiz</span><br/><span id='Modern History Of India Quiz part 01 for all Exams' style="font-size:25px;"></span></h3>
			  {{!-- <h2 Style="color:#ff000;position:center;left:80%;top0%;" align="center" "font-size:25px;"><samp id="Sub heading"> TEST QUIZ 1</samp></h2> --}}
      </div>  
      <div class="quiz-container">
        <div class="question-number">
          <h3>Question <span class="question-num-value"></span> of <span class="total-question"></span></h3>
        </div>
        <div class="question"></div>
        <div class="options">
          <div id="1" class="option1" onclick="check(this)"></div>
          <div id="2" class="option2" onclick="check(this)"></div>
          <div id="3" class="option3" onclick="check(this)"></div>
          <div id="4" class="option4" onclick="check(this)"></div>
        </div>
        <div class="button">
        <button type="button" class="btn" onclick="next()">Next</button>
        </div>
        <div class="answers-tracker"></div>
      </div>
 
      <div class="quiz-over">
          <div class="box">
               <h1>Good Try!<br>You Got <span class="correct-answers"></span> out of <span class="total-question2"></span> answers correct! <br>That's <span class="percentage"></span></h1>
              <button type="button" onclick="tryAgain()">Return to home</button>
           </div>
       </div>
 <div class="wrapper my-fluid-container footer-gray">
    
  <div class="footer">
      <div class="row wd_foot">  
          
          <div class="col-lg-12 col-md-12 col-sm-12 col-12 foot_hr"><hr></div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
              <p class="copyright">
                  Copyright <span class="red">©</span> Students India. All rights reserved. 
                  <a href="https://studentsindia.in/index.php/studentsindia/privacy_policy">Privacy Policy</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                  <a href="#">Promotions</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                  <a href="#">FAQs</a>
              </p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12 powered">
              Powered by <a href="#" target="_blank">Students India</a>
          </div>                    
      </div>  
  </div>

</div>


<script src="/javascripts/script8.js"></script>

<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-122944520-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-122944520-2');
</script>

<link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
